body {
  background-color: #141414 !important;
  color: #ffffff !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  margin-right: 10px;
  scrollbar-width: none;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  overflow: hidden;
  will-change: transform;
  height: 300px;
  width: 200px;
  margin-right: 10px;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Overlay starts hidden */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Show overlay only on hover */
.image-container:hover .overlay {
  opacity: 1;
}

.movie-scroll-container {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 10px;
  padding-bottom: 10px;
  scrollbar-width: none; /* Firefox */
}

.movie-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.image-container {
  flex: 0 0 auto; /* Don't shrink */
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 200px;
}

