body {
  background-color: #141414 !important;
  color: #ffffff !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
	margin-right: 10px;
}